@font-face {
    font-family: 'HarryPFont';
    src: url('HarryPotter.ttf') format('opentype');
    /* Weitere Formatoptionen können hinzugefügt werden, wenn nötig */
    font-weight: normal;
    font-style: normal;
  }

  h1, .h1 {
    font-family: 'HarryPFont', sans-serif;
    font-size: 6rem !important;
  }

  h2, h3, h4 {
    font-family: 'HarryPFont', sans-serif;
  }

